parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Actions\\Fortify\\CreateNewUser\:\:emailRules\(\) should return array\<int, array\<mixed\>\|Illuminate\\Contracts\\Validation\\ValidationRule\|string\> but returns array\<int, Illuminate\\Validation\\Rules\\Unique\|string\>\.$#'
			identifier: return.type
			count: 1
			path: app/Actions/Fortify/CreateNewUser.php

		-
			message: '#^Cannot access property \$email_verified_at on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Cannot call method delete\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Cannot call method fill\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Cannot call method isDirty\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Cannot call method save\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Cannot call method diffForHumans\(\) on Illuminate\\Support\\Carbon\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/SecurityController.php

		-
			message: '#^Cannot call method hasEnabledTwoFactorAuthentication\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/SecurityController.php

		-
			message: '#^Cannot call method passkeys\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/SecurityController.php

		-
			message: '#^Cannot call method toPasswordRulesString\(\) on Illuminate\\Validation\\Rules\\Password\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/SecurityController.php

		-
			message: '#^Cannot call method update\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/SecurityController.php

		-
			message: '#^Cannot access property \$id on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Requests/Settings/ProfileUpdateRequest.php

		-
			message: '#^Method App\\Http\\Requests\\Settings\\ProfileUpdateRequest\:\:emailRules\(\) should return array\<int, array\<mixed\>\|Illuminate\\Contracts\\Validation\\ValidationRule\|string\> but returns array\<int, Illuminate\\Validation\\Rules\\Unique\|string\>\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Requests/Settings/ProfileUpdateRequest.php

		-
			message: '#^Binary operation "\." between mixed and ''\|'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Providers/FortifyServiceProvider.php

		-
			message: '#^Cannot call method toPasswordRulesString\(\) on Illuminate\\Validation\\Rules\\Password\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Providers/FortifyServiceProvider.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Str\:\:lower\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Providers/FortifyServiceProvider.php

		-
			message: '#^Parameter \#1 \$url of function parse_url expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: config/fortify.php

		-
			message: '#^Cannot access offset ''model_has_permissions'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: database/migrations/2026_06_13_164227_create_permission_tables.php

		-
			message: '#^Cannot access offset ''model_has_roles'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: database/migrations/2026_06_13_164227_create_permission_tables.php

		-
			message: '#^Cannot access offset ''model_morph_key'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 8
			path: database/migrations/2026_06_13_164227_create_permission_tables.php

		-
			message: '#^Cannot access offset ''permission_pivot_key'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: database/migrations/2026_06_13_164227_create_permission_tables.php

		-
			message: '#^Cannot access offset ''permissions'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: database/migrations/2026_06_13_164227_create_permission_tables.php

		-
			message: '#^Cannot access offset ''role_has_permissions'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: database/migrations/2026_06_13_164227_create_permission_tables.php

		-
			message: '#^Cannot access offset ''role_pivot_key'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: database/migrations/2026_06_13_164227_create_permission_tables.php

		-
			message: '#^Cannot access offset ''roles'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: database/migrations/2026_06_13_164227_create_permission_tables.php

		-
			message: '#^Cannot access offset ''team_foreign_key'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 10
			path: database/migrations/2026_06_13_164227_create_permission_tables.php

		-
			message: '#^Parameter \#1 \$column of method Illuminate\\Database\\Schema\\Blueprint\:\:unsignedBigInteger\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 9
			path: database/migrations/2026_06_13_164227_create_permission_tables.php

		-
			message: '#^Parameter \#1 \$columns of method Illuminate\\Database\\Schema\\Blueprint\:\:foreign\(\) expects array\|string, mixed given\.$#'
			identifier: argument.type
			count: 4
			path: database/migrations/2026_06_13_164227_create_permission_tables.php

		-
			message: '#^Parameter \#1 \$columns of method Illuminate\\Database\\Schema\\Blueprint\:\:index\(\) expects array\|string, mixed given\.$#'
			identifier: argument.type
			count: 3
			path: database/migrations/2026_06_13_164227_create_permission_tables.php

		-
			message: '#^Parameter \#1 \$key of method Illuminate\\Contracts\\Cache\\Repository\:\:forget\(\) expects string\|UnitEnum, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: database/migrations/2026_06_13_164227_create_permission_tables.php

		-
			message: '#^Parameter \#1 \$name of method Illuminate\\Cache\\CacheManager\:\:store\(\) expects string\|UnitEnum\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: database/migrations/2026_06_13_164227_create_permission_tables.php

		-
			message: '#^Parameter \#1 \$table of method Illuminate\\Database\\Schema\\ForeignKeyDefinition\:\:on\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 4
			path: database/migrations/2026_06_13_164227_create_permission_tables.php

		-
			message: '#^Parameter \#1 \$table of static method Illuminate\\Support\\Facades\\Schema\:\:create\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 5
			path: database/migrations/2026_06_13_164227_create_permission_tables.php

		-
			message: '#^Parameter \#1 \$table of static method Illuminate\\Support\\Facades\\Schema\:\:dropIfExists\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 5
			path: database/migrations/2026_06_13_164227_create_permission_tables.php

		-
			message: '#^Cannot call method name\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: routes/settings.php

		-
			message: '#^Cannot call method name\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 2
			path: routes/web.php
